<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Banner List</title>
</head>
<body>
<h1>메인 배너 목록</h1>
<table border="1">
    <tr>
        <th>이미지</th>
        <th>타이틀</th>
    </tr>
    <tr th:each="banner : ${banners}">
        <td>
            <img th:src="@{'/mainBanner/image/' + ${banner.imageFileId}}"
                 alt="Banner Image" width="300"/>
        </td>
        <td th:text="${banner.title}"></td>
    </tr>
</table>

<h1>타이틀로 이미지 조회</h1>
<form th:action="@{/mainBanner/imageByTitle}" method="get" target="imageFrame">
    <label for="title">타이틀 입력:</label>
    <input type="text" id="title" name="title" required>
    <button type="submit">이미지 보기</button>
</form>
<br>
<iframe name="imageFrame" width="400" height="300" style="border:1px solid #ccc;">
    이미지를 보려면 타이틀을 입력하세요.
</iframe>

</body>
</html>