<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Main Banner List</title>
</head>
<body>
<h1>메인 배너 목록</h1>
<table border="1">
    <tr>
        <th>이미지</th>
        <th>타이틀</th>
    </tr>
    <tr th:each="banner : ${banners}">
        <td>
            <img th:src="@{'/mainBanner/image/' + ${banner.imageFileId}}"
                 alt="Banner Image" width="300"/>
        </td>
        <td th:text="${banner.title}"></td>
    </tr>
</table>

<form action="#" th:action="@{/mainBanner}" method="get">
    <label for="titleInput">Title Input:</label>
    <input type="text" id="titleInput" name="titleInput" placeholder="Enter title" />
    <button type="submit">Submit</button>
</form>

<div>
    <img th:if="${titleInput != null}"
         th:src="@{'/mainBanner/image/title/' + ${titleInput}}"
         alt="banner image" />
</div>

</body>
</html>