<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div class="jumbotron">

        <p class="lead">이미지</p>
        <p>
            <a class="btn btn-lg btn-upload" href="/mainBanner/upload">이미지 업로드</a>
            <a class="btn btn-lg btn-view" href="/mainBanner/view">이미지 보기</a>
        </p>
    </div>

</div> <!-- /container -->

</body>

</html>