<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div th:if="${successMessage}" id="successMessage" th:data-msg="${successMessage}"></div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var msgDiv = document.getElementById("successMessage");
        if (msgDiv) {
            var msg = msgDiv.dataset.msg;
            // 브라우저 기본 팝업 알림
            alert(msg);
            // 또는 직접 만든 토스트/모달로 대체 가능
        }
    });
</script>

<div class="container">

    <div class="jumbotron">

        <p class="lead">이미지</p>
        <p>
            <a class="btn btn-lg btn-upload" href="/mainBanner/upload">이미지 업로드</a>
            <a class="btn btn-lg btn-view" href="/mainBanner/view">이미지 보기</a>
            <a class="btn btn-lg btn-logout" href="/logout">로그아웃</a>
        </p>
    </div>

</div> <!-- /container -->

</body>

</html>